function createCLICallFromFlags() {
    var call = "python";
    call = call + ' "' + executableScript.source + '"';
    {% if writesScore == true %}
    var tempFilePath = mscTempFileStorePath.source;
    writeScore(curScore, tempFilePath, "mxl");
    {% endif %}
    call = call + ' --tempPath "' + tempFilePath + '.mxl"';
    for (var key in flags) {
        if (flags[key].toPrint) {
            call = call + " " + key;
            if (flags[key].value != "") {
                call = call + ' "' + flags[key].value + '"';
            }
        }
    }
    return call;
}

function getLocalPath(path) { // Remove "file://" from paths and third "/" from  paths in Windows
    path = path.trim();
    path = path.replace(/^(file:\/{2})/,"");

    var pluginsFolder = window.filePath;
    path = path.replace(/^\./, pluginsFolder);

    if (Qt.platform.os == "windows") { 
        path = path.replace(/^\//,"");
        path = path.replace(/\//g, "\\");
    }
    path = decodeURIComponent(path);            
    return path;
}