import QtQuick 2.1
import QtQuick.Dialogs 1.2
import QtQuick.Controls 1.0
import MuseScore 3.0
import FileIO 3.0
import Qt.labs.folderlistmodel 2.2
import Qt.labs.platform 1.0

MuseScore {
	menuPath: "Plugins.{{pluginName}}"
	version: "{{pluginVersion}}"
	id: window
	width: 800; height: 500;
	requiresScore: {% if requiresScore == true %}true{% else %}false{% endif %}
	pluginType: "dialog"

	QProcess {
		id: proc
	}

{{flagsInitText}}

{{claOptionsText}}

{{pluginCoreText}}

{{functionsText}}

}